<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="bg-light">

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h3>Welcome to rate-your-oil</h3>
        <button type="button" class="btn btn-outline-dark" style="margin-top: 5%;" onclick="window.location.href='/login'">Proceed to login</button>
        <button type="button" class="btn btn-outline-dark" style="margin-top: 5%;" onclick="window.location.href='/signup'">Sign up</button>
    </div>
</div>
</body>
